<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>

<div class="container text-center my-5">

	<div class="row offset-md-5">
		<h2>Update CurvePoint</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/update/{id}(id=${updateCurvePoint.id})}" th:object="${updateCurvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to input the values of Bid, there are 2 buttons: Save data and Cancel to the list Bid
			 -->
			<div class="form-group">
				<label for="curveId" class="col control-label">curveId</label>
				<div class="col">
					<input type="number" th:field="*{curveId}" id="curveId" placeholder="curveId" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('curveId')}" th:errors="*{curveId}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="term" class="col control-label">term</label>
				<div class="col">
					<input type="number" step="any" th:field="*{term}" id="type" placeholder="type" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('term')}" th:errors="*{term}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="value" class="col control-label">value</label>
				<div class="col">
					<input type="number" step="any" th:field="*{value}" id="value" placeholder="value" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></p>
				</div>
			</div>

			<div class="form-group">
				<div class="col">
					<a class="btn btn-danger btn-sm" href="/curvePoint/list">Cancel</a>
					<input class="btn btn-primary btn-sm" type="submit" value="Update CurvePoint">
				</div>
			</div>

		</form>
	</div>

	<div class="text-right">
		<img class="background-attachment : scroll" th:src="@{/image/logo.png}" style="width:13%" />
	</div>

</div>
</body>
</html>